Source: linuxbean-meta
Section: metapackages
Priority: optional
Maintainer: Ryo Nakano <ryonakaknock3@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8), germinate (>= 1.18)

Package: linuxbean-minimal
Architecture: i386 amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: Minimal core of linuxBean Community
 This package depends on all of the packages in the linuxBean Community minimal system,
 that is a functional command-line system with the following capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: linuxbean-standard
Architecture: i386 amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: The linuxBean Community standard system
 This package depends on all of the packages in the linuxBean Community standard system.
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: linuxbean-desktop
Architecture: i386 amd64 arm64
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: The linuxBean Community desktop system
 This package depends on all of the packages in the linuxBean Community desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

